<body class="login-body">

    <a href="index.html" class="volta222">Voltar</a>

    <header class="login-header">
        <h1>Login</h1>
        <form action="/loginn" method="post">
            <input class="usuario" type="text" name="usuario" placeholder="Usuário" required>
            <input class="password" type="password" name="senha" placeholder="Senha" required>
            <button type="submit">Entrar</button>
            <link rel="stylesheet" href="/static/style.css">
        </form>
    </header>
    <script src="/static/login.js"></script>
</body>