<head>
    <title>Loja de Carros</title>
    <link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQYXxrm6kMOMX9lQSWQRTHJTo-wFlbJLWqjRw&s">
</head>

<body class="login-body">
    <nav>
        <a href="{{ url_for('index') }}" class="volta222">Voltar</a>
    </nav>

    <header class="login-header">
        <h1>Login</h1>
            <form method="post" action="{{ url_for('login') }}">
            
            <input class="usuario" type="text" name="usuario" placeholder="Usuário" required>
            <input class="password" type="password" name="senha" placeholder="Senha" required>
            <button type="submit">Entrar</button>
                <link rel="stylesheet" href="/static/style.css">
            </form>
    </header>
    <script src="/static/login.js"></script>
</body>